.all{
  height: 100%;
}

.container {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.meContainer {
  color: #EEEEEE;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: serif; 
  font-size: 40px; 
  word-spacing: 0.2em;
}

.picture {
  display: flex;
  justify-content: flex-end;
  width: 325px;
  height: auto;
  margin-right: 15px;
}

.texte {
  color: #EEEEEE;
  display: flex;
  font-family: serif; 
  margin-top: 50px;
  margin-right: 20px;
  margin-left: 20px;
  font-size: 30px;
  word-spacing: 0.2em;
  text-align: justify;
}

.title {
  display: flex;
  font-family: serif;
  margin-left: 460px;
  font-size: 40px;
  margin-bottom: 20px;
  color: white ;
  margin-top: 45px;
}

.hardSkill {
  display: flex;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
  justify-content: center;
  gap: 30px; /* Ajoutez la valeur d'espacement souhaitée */
  padding-bottom: 20px;
}

.logo {
  width: 90px;
  height: 90px;
}
