.container {
  background-color: #003870;
}

.formulaire{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 85.7vh;
  }
  
  .center {
    text-align: center;
  }
  
  .form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    box-sizing: border-box;
    margin: auto;
    transition: box-shadow 0.3s ease; /* Ajout d'une animation de transition pour l'ombre */
  }
  
  .form:hover {
    box-shadow: 0 8px 20px rgba(9, 255, 0, 0.6); /* Augmentation de l'ombre au survol */
  }
  
  
  
  .form label {
    display: block;
    margin-bottom: 10px;
    font-size: 14px;
    color: #333;
  }
  
  .form input,
  .form textarea {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
    transition: box-shadow 0.3s ease; /* Ajout d'une animation de transition pour l'ombre */
  }
  
  .form input[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Ajout d'animations pour le bouton de soumission */
  }
  
  .form input[type="submit"]:hover {
    background-color: #45a049;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .form input[type="submit"]:active {
    transform: translateY(1px); /* Ajout d'une légère animation au clic */
  }
  